// Color Variables

$alert: #D33A2F !default;
$background-color: #F4F6F9 !default;
$black: #000 !default;
$brand-primary: #0B5FFF !default;
$brand-secondary: #184496 !default;
$default-color: #30313F !default;
$filter-color: #EFF3FD !default;
$header-color: #09101D !default;
$highlight-color: #C4D6F8 !default;
$hr-color: #DADEE3 !default;
$nav-color: #6B6C7E !default;
$pre-text-color: #F8FAFF !default;
$white: #FFF !default;

$admonition-error: #DA1414 !default;
$admonition-error-bg: #FEEFEF !default;
$admonition-error-highlight: $alert !default;
$admonition-important: #2E5AAC !default;
$admonition-important-bg: #EEF2FA !default;
$admonition-important-highlight: #89A7E0 !default;
$admonition-note: #287D3C !default;
$admonition-note-bg: #EDF9F0 !default;
$admonition-note-highlight: #5ACA75 !default;
$admonition-tip: #0B7543 !default;
$admonition-tip-bg: #EAFAF7 !default;
$admonition-tip-highlight: #50D2A0 !default;
$admonition-warning: #B95000 !default;
$admonition-warning-bg: #FFF4EC !default;
$admonition-warning-highlight: #FF8F39 !default;

$card-sidebar: #42BFC2 !default;

// Variables from atlas/variables/_globals for alerts
// https://github.com/liferay/clay/blob/0568f0a1ffb82b0bc85321b10cb32ff5f68e2cc1/packages/clay-css/src/scss/atlas/variables/_globals.scss

$grid-gutter-width: 30px !default; // 30px is the original from bootstrap instead of the 24px defined in Atlas. This variable is needed to be defined earlier for alerts.

$primary: #0B5FFF !default;
$primary-d1: darken($primary, 5.10) !default;
$primary-d2: darken($primary, 10) !default;
$primary-l1: lighten($primary, 22.94) !default;
$primary-l2: lighten($primary, 32.94) !default;
$primary-l3: lighten($primary, 44.90) !default;

$secondary: #6B6C7E !default;
$secondary-d1: darken(saturate($secondary, 4.82), 20) !default;
$secondary-d2: darken(saturate($secondary, 5.36), 23.92) !default;
$secondary-l1: lighten(saturate(adjust-hue($secondary, -3), 5.39), 23.92) !default;
$secondary-l2: lighten(saturate(adjust-hue($secondary, -2), 5.48), 37.06) !default;
$secondary-l3: lighten(saturate(adjust-hue($secondary, 3), 6.13), 46.08) !default;

$info: #2E5AAC !default;
$info-d1: darken($info, 5.10) !default;
$info-d2: darken($info, 10) !default;
$info-l1: lighten(saturate($info, 0.59), 28.04) !default;
$info-l2: lighten(desaturate($info, 3.25), 52.94) !default;

$success: #287D3D !default;
$success-d1: darken($success, 5.10) !default;
$success-d2: darken($success, 10) !default;
$success-l1: lighten(desaturate($success, 0.14), 24.90) !default;
$success-l2: lighten(desaturate($success, 1.52), 62.94) !default;

$warning: #B95000 !default;
$warning-d1: darken($warning, 5.10) !default;
$warning-d2: darken($warning, 10) !default;
$warning-l1: lighten($warning, 24.90) !default;
$warning-l2: lighten($warning, 60) !default;

$danger: #DA1414 !default;
$danger-d1: darken($danger, 5.10) !default;
$danger-d2: darken($danger, 10) !default;
$danger-l1: lighten(desaturate($danger, 0.25), 28.04) !default;
$danger-l2: lighten(saturate($danger, 5.04), 50) !default;

$light: #F1F2F5 !default;
$light-d1: darken($light, 5.10) !default;
$light-d2: darken($light, 10) !default;
$light-l1: lighten(desaturate(adjust-hue($light, -15), 2.38), 1.96) !default;
$light-l2: lighten(desaturate(adjust-hue($light, -225), 16.67), 4.71) !default;

$dark: #272833 !default;
$dark-d1: darken($dark, 5.10) !default;
$dark-d2: darken($dark, 10) !default;
$dark-l1: lighten(saturate($dark, 0.18), 4.12) !default;
$dark-l2: lighten(desaturate($dark, 0.36), 8.04) !default;

$link-color: $primary !default;
$link-hover-color: $primary-d2 !default;

// Variable Overrides

$font-family-base: "Source Sans Pro", "Source Serif Pro", -apple-system,
	BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$small-font-size: 0.75rem !default; // 12px

$h1-font-size: 2rem !default; // 32px
$h2-font-size: 1.5rem !default; // 24px
$h3-font-size: 1rem !default; // 16px
$h4-font-size: 1rem !default; // 16px
$h5-font-size: 0.875rem !default; // 14px
$h6-font-size: $small-font-size !default; // 12px
$code-font-size: 14px !default; // set pixel value to prevent nested <pre> and <code> from scaling down font size
$mobile-font-size: 1.75rem !default; // 28px

$breadcrumb-divider-color: null !default;
$breadcrumb-text-truncate-max-width: 10rem !default; // 160px

$table-accent-bg: $background-color !default;
$table-data-border-color: transparent !default;
$table-margin-bottom: 1rem !default; // 16px

// Custom Variables

$h1-display-font-size: 3rem !default; // 48px

$h6-line-height: 16px !default;
$code-line-height: 24px !default; // set pixel value to prevent nested <pre> and <code> from scaling down line height
$secondary-text-line-height: 1.429 !default;

$blockquote-color: $nav-color !default;
$blockquote-font-weight: 300 !default;
$blockquote-line-height: 30px !default;

$breadcrumb-divider-svg-icon: clay-icon(angle-right, $breadcrumb-divider-color) !default;
$breadcrumb-divider-svg-icon-height: 0.75em !default; // 12px
$breadcrumb-divider-svg-icon-width: $breadcrumb-divider-svg-icon-height !default;

$footer-height: 3.5rem !default; // 56px
$header-height: 3.5rem !default; // 56px
$info-bar-height: 4.8125rem !default; // 77px

$spacing-default: 1.5rem !default; // 24px
$spacing-md: 1rem !default; // 16px
$spacing-sm: 0.75rem !default; // 12px
$spacing-xs: 0.5rem !default; // 8px