.documentations {
	.article-body {
		margin-bottom: 5rem;
		padding-bottom: $spacing-default;
		padding-top: $spacing-default;
	}

	.doc-body,
	.product-version-selector {
		padding: 0;
	}

	.doc-content {
		margin-top: $info-bar-height;
	}

	.doc-nav,
	.product-version-selector {
		background-color: $background-color;
	}

	.doc-nav {
		font-weight: $font-weight-semi-bold;
		height: 100vh;
		padding-top: $spacing-md;

		> ul {
			margin: 0;
		}

		a {
			color: $nav-color;
			display: block;
			padding: $spacing-xs $spacing-default $spacing-xs $spacing-md;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		.toctree-l1 {
			&.current {
				> a {
					background-image: none;
					color: $black;
					padding-left: 0;

					&:before {
						border-bottom: 2px solid transparent;
						border-left: 3px solid $brand-primary;
						border-right: 1px solid transparent;
						border-top: 2px solid transparent;
						content: '';
						padding: $spacing-xs $spacing-md $spacing-xs 0;
					}
				}
			}

			> a {
				background-image: clay-icon(angle-right, $black);
				background-position: right 0.8rem top $spacing-md;
				background-repeat: no-repeat;
				background-size: 0.65rem;
			}
		}

		.toctree-l2 {
			&.current a {
				color: $brand-primary;
			}

			a {
				padding: $spacing-xs $spacing-default;
			}
		}
	}

	.info-bar {
		border-bottom: 1px solid $hr-color;
		height: $info-bar-height;
	}

	.general-info {
		background-color: $white;
		display: flex;
		justify-content: space-between;
		position: fixed;
		z-index: 1;

		.actions {
			display: inline-block;

			svg {
				height: 1rem;
				margin: 1.8rem 0;
				width: 1rem;
			}
		}

		@media (max-width: 576px) {
			display: none;
		}
	}

	.nav-link {
		color: $default-color;

		&.active {
			color: $brand-primary;
			font-weight: $font-weight-semi-bold;
		}
	}

	.product-version-selector {
		margin-left: -15px;
		max-width: 16.66667%;
		position: fixed;
	}

	.toc {
		position: fixed;
		margin-top: $spacing-default;
		max-width: 12%;
	}
}
