.documentations {
	.article-body {
		margin-bottom: 5rem;
		padding-bottom: $spacing-default;
		padding-top: $spacing-default;
	}

	.doc-body,
	.doc-nav-wrapper {
		padding: 0;
	}

	.doc-content {
		margin-top: $info-bar-height;
	}

	.doc-nav,
	.doc-nav-wrapper {
		background-color: $background-color;
	}

	.doc-nav {
		font-weight: $font-weight-semi-bold;
		height: 80vh;
		overflow: auto;
		padding: $spacing-md 0;

		> ul {
			margin: 0;
		}

		a {
			color: $nav-color;
			display: block;
			padding: $spacing-xs $spacing-default $spacing-xs 0;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		.back-link {
			align-items: center;
			display: flex;
			padding-left: $spacing-md;
			width: 100%;

			svg {
				height: $spacing-default;
				padding-right: $spacing-sm;
				width: $spacing-default;
			}
		}

		.toctree-l1 {
			&.active a {
				color: $brand-primary;
			}

			&.current {
				> a {
					background-image: none;

					&:before {
						border-left-color: $brand-primary;
					}
				}
			}

			> a {
				background-image: clay-icon(angle-right, $black);
				background-position: right 0.8rem top $spacing-md;
				background-repeat: no-repeat;
				background-size: 0.65rem;
				color: $black;

				&:before {
					border-bottom: 2px solid transparent;
					border-left: 3px solid transparent;
					border-right: 1px solid transparent;
					border-top: 2px solid transparent;
					content: '';
					padding: $spacing-xs $spacing-md $spacing-xs 0;
				}
			}
		}

		.toctree-l2 {
			font-size: $h5-font-size;

			&.current a {
				color: $brand-primary;
			}

			a {
				padding: $spacing-xs 2rem;
			}
		}
	}

	.doc-nav-wrapper {
		height: 100%;
		margin-left: -15px;
		max-width: 16.66667%;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	.info-bar {
		align-items: center;
		border-bottom: 1px solid $hr-color;
		display: flex;
		height: $info-bar-height;

		select {
			margin-left: $spacing-sm;
			width: 80%;
		}
	}

	.general-info {
		align-items: center;
		background-color: $white;
		display: flex;
		position: fixed;
		width: calc(100% - 16.66667%);
		z-index: 1;

		.actions {
			display: block;
			padding-left: $spacing-md;

			a:hover {
				svg {
					fill: $brand-primary;
				}
			}

			svg {
				fill: $nav-color;
				height: 1rem;
				width: 1rem;
			}
		}

		@media (max-width: 576px) {
			display: none;
		}
	}

	.nav-link {
		color: $default-color;

		&.active {
			color: $brand-primary;
			font-weight: $font-weight-semi-bold;
		}
	}

	.toc {
		position: fixed;
		margin-top: $spacing-default;
		max-width: 12%;
	}
}
