.documentations {
	.article-body {
		flex: 0 0 58.33333%;
		margin-bottom: 5rem;
		margin-left: 8.33333%;
		margin-right: 8.33333%;
		max-width: 58.33333%;
		padding: $spacing-default 15px;
		position: relative;
		width: 100%;
	}

	.doc-body,
	.doc-nav-wrapper {
		padding: 0;
	}

	.doc-content {
		margin-top: $info-bar-height;
	}

	.doc-nav,
	.doc-nav-wrapper {
		background-color: $background-color;
	}

	.doc-nav {
		font-weight: $font-weight-semi-bold;
		height: 80vh;
		overflow: auto;
		padding: $spacing-md 0;

		> ul {
			margin: 0;
		}

		a {
			border-left: 3px solid transparent;
			color: $nav-color;
			display: block;
			padding: $spacing-xs $spacing-default $spacing-xs $spacing-md;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
			padding: 0;
		}

		.back-link {
			align-items: center;
			display: flex;
			padding-left: $spacing-md;
			width: 100%;

			svg {
				fill: $nav-color;
				height: $spacing-default;
				padding-right: $spacing-sm;
				width: $spacing-default;
			}
		}

		.toctree-l1 {
			&.active a {
				color: $brand-primary;
			}

			&.current {
				> a {
					background-image: none;
					border-left-color: $brand-primary;
				}
			}

			> a {
				background-image: clay-icon(angle-right, $black);
				background-position: right 0.8rem top $spacing-md;
				background-repeat: no-repeat;
				background-size: 0.65rem;
				color: $black;
			}
		}

		.toctree-l2,
		.toctree-l3,
		.toctree-l4,
		.toctree-l5 {
			font-size: $h5-font-size;

			&.current {
				&.parent-level > a {
					background-image: none;
					border-left-color: $brand-primary;
					color: inherit;
					font-size: initial;
					padding: $spacing-xs $spacing-default $spacing-xs
						$spacing-md;
				}

				> a {
					color: $brand-primary;
				}
			}

			> a {
				padding: $spacing-xs 2rem;
			}
		}
	}

	.doc-nav-wrapper {
		height: 100%;
		margin-left: -15px;
		max-width: 16.66667%;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	.info-bar {
		align-items: center;
		border-bottom: 1px solid $hr-color;
		display: flex;
		height: $info-bar-height;

		select {
			margin-left: $spacing-sm;
			width: 80%;
		}
	}

	.general-info {
		align-items: center;
		background-color: $white;
		display: flex;
		position: fixed;
		width: calc(100% - 16.66667%);
		z-index: 1;

		.actions {
			display: block;
			padding-left: $spacing-md;

			svg {
				height: 2.375rem;
				width: 2.375rem;
			}
		}

		@media (max-width: 576px) {
			display: none;
		}
	}

	.nav-link {
		color: $default-color;

		&.active {
			color: $brand-primary;
			font-weight: $font-weight-semi-bold;
		}
	}

	.toc {
		position: fixed;
		margin-top: $spacing-default;
		max-width: 12%;
	}

	.toc-container {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
		padding-right: 15px;
		padding-left: 15px;
		position: relative;
		width: 100%;
	}
}
