{%- extends "basic/layout.html" %}

{% set script_files = script_files + ['_static/js/bootstrap.min.js', '_static/js/page-alert.js'] %}

{% block extrahead %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZR5XLR');</script>
    <!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700|Source+Serif+Pro"
    rel="stylesheet" />
{% endblock %}

{% block header %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZR5XLR" height="0" width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "svg.html" %}

<header role="navigation">
    <div class="brand">
        {%- if logo %}

        <a class="company-logo" href="/index.html" title="Home">
            <img src="https://learn.liferay.com/_static/liferay-waffle.svg" alt="Logo" />
        </a>
        {%- endif %}

        {%- block headertitle %}
        <h2 class="header-title">
            <a href="/index.html">{{ shorttitle|e }}</a>
        </h2>
        {%- endblock %}
    </div>

    <div class="header-links" role="navigation" aria-label="related navigation">
        <a href="https://www.liferay.com">
            {% trans %}Liferay.com{% endtrans %}
        </a>
        <a href="https://university.liferay.com/">
            {% trans %}Training{% endtrans %}
        </a>
        <a href="https://liferay.dev">
            {% trans %}Community{% endtrans %}
        </a>
        <a href="https://help.liferay.com/hc">
            {% trans %}Help Center{% endtrans %}
        </a>

        {% if pagename != 'index' and pagename != 'search' %}
        <div class="searchbox" id="searchbox" role="search">
            {% include "searchbox.html" %}
        </div>
        {% endif %}
    </div>
</header>
{% endblock %}

{# do not display relbar, sidebar, and footer #}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block footer %}{% endblock %}